.border{
    margin: 1%;
    border-radius: 15px;

}
.displayaqua{
    background-color: aqua;
}
.displayblack{
    background-color: black;
}
.displayred{
    background-color: red;
}
.displayyellow{
    background-color: yellow;
}
.displaygreen{
    background-color: green;
}
.test{
    border-radius: 10%;
    border-width: 5px;
    border-color: black;
}