.center {
 margin-left: auto;
 margin-right:auto ;
}
.combine{
    width: fit-content;
}
.sd{
    width: 100px;
    height: 100px;
}
.md{
    width: 200px;
    height: 200px;
}
.ld{
    width: 500px;
    height: 500px;
}
.等比縮放{
    width: fit-content;
    height: fit-content;
}
.changeinline{
    display: inline-block;
}
.circle{
    border-radius: 50%;
}
.verticlemiddle{
    margin-top: calc(50vh - 101px);
    margin-bottom: calc(50vh - 101px);
}