body{
    padding: 5%;
}
.block{
    height: 500px;
    width: 500px;
    margin-top: 80px;
    background-color:aquamarine;
    border:1px solid black;
    align-items: center;
    justify-content: center;
    font-size: calc(1.325rem + .9vw);
    display: flex;
    padding: 0.5em;
    
}