.giveborder {
    margin-left: 10%;
    margin-right: 10%; 
    height: fit-content;
}

.background {
    background-size: cover;
    
}
.border{
    border-width: 300px;
    border-style: solid;
    border-color: black;
    background-color: aqua;
    height:300px
    
}