.head {
    padding: 0.2em;
    width: 100%;
    height: fit-content;
    text-align: center;
    font-size: 5em;
    background-color: rgb(127, 255, 170);
    /* background-color: rgb(4, 35, 172);  */
}

body {
    width: 100vw;
    overflow-wrap: break-word;
}

button {
    width: fit-content;
    height: fit-content;
    text-align: center;
    position: relative;
    bottom: 0.3em;
    display: inline;
    font-size: 0.6em;
    border-radius: 0.2em;
    padding: 0.1em;
}

section {
    width: 100vw;
    display: grid;
    grid-template-columns: auto 1280px auto;
    background-color: rgb(210, 210, 255);
    padding: 0.2em;
    height: auto;
}



#main {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;

}

#main>div {

    border: 3px solid grey;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    height: fit-content;
    min-height: 100px;
}

#top {
    grid-column: 1/span 3;
}

.title {
    grid-column: 1/span 3;
    text-align: center;
    font-size: 4em;

}

.guide {
    position: relative;
    text-align: center;
    font-size: 3em;
    
}

.three {
    padding: 0 !important;
}

.three_mid {
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.block {
    width: 2em;
    height: 2em;
    background-color: rgb(251, 255, 1);
    border: 3px solid brown;
    margin-left: auto;
    margin-right: auto;
}

.word {
    display: inline-block;
    font-weight: bold;
}

.example1 {
    display: grid;
    grid-template-columns: repeat(20, 5%);
}

.black {
    width: 100%;
    padding-top: 100%;
    height: 0;
    background-color: rgb(0, 0, 0);
}

.example2 {
    display: grid;
    grid-template-columns: repeat(12, calc(100%/12));
    position: relative;
}

.col {
    width: 100%;
    padding-top: 700%;
    height: 0;
    background-color: rgb(0, 132, 255);
}

.T {
    position: absolute;
    left: 12%;
    top: 12%;
    z-index: 2;
    font-size: 2em;
    font-weight: bold;
    opacity: 0;
}

.t {
    position: absolute;
    right: 2%;
    bottom: 2%;
    z-index: 2;
    font-size: 0.8em;
    font-weight: bold;
    opacity: 0;
}

.example3 {
    width: 100%;
    height: 1000px;
    display: grid;
    grid-template-columns: 60% 30% 10%;
    grid-template-rows: 60% 30% 10%;
    position: relative;
    padding: 0;
    align-items: center;
    justify-items: center;
}

.gather {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 5%;
    font-size: 1em;
}

#gather1 {
  
    position: relative;
    left: -200%;
    top: -200%;
    opacity: 0;
}

#gather2 {
   
    position: relative;
    top: -100%;
    opacity: 0;
}

#gather3 {
   
    position: relative;
    right: -200%;
    top: -200%;
    opacity: 0;
}

#gather4 {
   
    position: relative;
    left: -200%;
    opacity: 0;
}
#gather5 {
   
    background-color: aquamarine;
}
#gather6 {
  
    position: relative;
    right: -200%;
    opacity: 0;
}

#gather7 {
  
    position: relative;
    opacity: 0;
    left: -200%;
    bottom: -200%;
}

#gather8 {
    
    position: relative;
    opacity: 0;
    bottom: -200%;
}

#gather9 {
    font-size: 0.5em;
    position: relative;
    right: -200%;
    bottom: -200%;
    opacity: 0;
}

.rect{
    top: 6em;
    position: relative;
    left: calc(50% + 1em);
    transform: rotate(-90deg);
    transform-origin: 0 100%;
    width: 2%;
    height: 2em;
    background-color: rgb(251, 255, 1);
    border: 3px solid brown;
    
}
.circle{
    position: relative;
    top: 3em;
    left: calc(50% - 1.5em);
    border-radius: 50%;
    width: 3em;
    height: 3em;
    border: 0.5em solid rgb(56, 149, 255);
}
.stick{
    transform-origin: -0.4em 50%;
    position: relative;
    top: 1.2em;
    left:calc(50% + 0.4em);
    width: 3.2em;
    height: 0.8em;
    background-color: rgb(255, 255, 255);
}
.text{
    position: relative;
    left:-10%;
    opacity: 0;
}
.example4{
    display: grid;
    grid-template-columns: repeat(20,5%);
}
.white{
    width: 100%;
    height: 0;
    padding-top: 100%;
    background-color: white;
}
.example5{
    position: relative;
    margin-top: 10%;
    height: 700px;
    width: 0%;
    margin-bottom: 10%;
    background-color: rgb(255, 162, 159);
}
.ex_center{
    position:absolute;
    top:25%;
    height: 350px;
    background-color: rgb(155, 53, 49);
    width: 0%;
}